= link_to rounds_path do
  %button.ui.basic.button
    %i.arrow.left.icon
    Back

.ui.top.attached.segment
  %h3.ui.header EDITTING ROUND: #{@round.id}
.ui.bottom.attached.segment.m-medium--bottom
  = render 'form'

