= link_to rounds_path do
  %button.ui.basic.button
    %i.arrow.left.icon
    Back

.ui.top.attached.segment
  .flex-header
    %h3.ui.header EDITTING ROUND: ##{@round.id}
    = link_to assign_questions_path(round: @round.id) do
      .ui.basic.primary.button
        %i.plus.icon
        Add More Question
.ui.bottom.attached.segment.m-medium--bottom
  = render 'form'

