= link_to "Questions", questions_path, class: "ui button"
= link_to "Episodes", episodes_path, class: "ui button"
= link_to "Rounds", rounds_path, class: "ui button"
= link_to "Streaming", streaming_homes_path, class: "ui button"
