#fullscreen.wrapper
  %video#gum-local.video{:autoplay => "", :playsinline => ""}
  .sidebar
    - (1..10).reverse_each do |i|
      .block{class: "score-#{i}"}= i
  .content
    .empty-space
    .question
      %h2.ui.header.content #question

:javascript
  document.addEventListener('DOMContentLoaded', function () {
    initVideo();
    var question_sse = new EventSource('/broadcasts/broadcasted_question');
    question_sse.addEventListener('message', function (e) {
      $(".question .content").text(e.data)
    });

    var score_sse = new EventSource('/broadcasts/current_score');
    score_sse.addEventListener('message', function (e) {
      score = parseInt(e.data)
      $(".sidebar .block").removeClass('active');
      for (i = 0; i <= score; i++) {
        $(".sidebar .score-" + i).addClass('active')
      }
    });
  });
