#fullscreen {
  width: 100vw;
  height: 100vh;

  .video {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &.wrapper {
    padding: 2em;
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 100px 1fr;
  }

  .sidebar {
    z-index: 2;
    display: grid;
    overflow: hidden;
    border-radius: 1em;
    background: #ffffff;
    grid-auto-flow: dense;
    grid-template-rows: repeat(10, 1fr);
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  }

  .sidebar .block {
    display: flex;
    font-size: 1.5em;
    font-weight: 600;
    align-items: center;
    justify-content: center;
  }

  .sidebar .block:not(:last-child) {
    border-bottom: 1px solid #000;
  }

  .sidebar .block.active {
    color: #ffffff;
    background: #27ae60;
  }

  .content {
    z-index: 2;
    display: flex;
    flex-direction: column;
  }

  .content .empty-space {
    flex: 1;
  }

  .content .question {
    padding: 1em;
    height: 160px;
    display: flex;
    color: #ffffff;
    border-radius: 0.5em;
    align-items: center;
    background: #232526;
    justify-content: center;
    border: 5px solid #16a085;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    // background: url(asset_path('lower.svg')) no-repeat 50% 0%;
    // background-size: cover;
  }

  .content .question .header {
    font-size: 30px;
    color: #ffffff;
  }
}
