// Override Semantic UI style

.ui.header {
  color: #2c3e50;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.ui.button {
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

// Custom style

.sessions,
.landing_page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing_page {
  .navigation {
    .item {
      display: flex;
      color: #34495e;
      align-items: center;
      margin-bottom: 1em;
    }

    .item img {
      margin-right: 1em;
    }

    .item:hover {
      color: #2980b9;
    }
  }
}

.sessions {
  .form-panel {
    width: 450px;
  }
}


.set_score_actions {
  .ui.button {
    justify-content: center;
  }
  .ui.button.number {
    font-size: 16px;
    font-weight: bold;
  }
  .ui.button.increase {
    color: #0984e3!important;
    background: #74b9ff!important;
  }
  .ui.button.reset {
    font-weight: bold;
    color: #e17055!important;
    background: #fab1a0!important;
  }
}
