:javascript
  if (#{flash[:notice].present?} || #{flash[:alert].present?}) {
    new Noty({
      type: "#{flash[:notice] ? 'success' : 'warning'}",
      text: "#{flash[:notice] || flash[:alert]}",
      theme: 'nest',
      timeout: 3000
    }).show();
  }
